# Auto detect text files and perform LF normalization
* text=auto

# bash-scripts
*.sh text eol=lf

# batch-scripts
*.bat text eol=crlf

# powershell-scripts
*.ps1 text eol=crlf

# markdown-files
*.md text eol=lf

# docker
docker-compose.yml text eol=lf
Dockerfile text eol=lf