
*.txt
*.json
*-custom.sh
*-custom*.sh
*-custom.bat
*-custom*.bat
*raw*.csv
test.py
__pycache__
build
dist
*.spec
caller-downloads-temp
.env
.venv
*.php
.stats-page
new_calls.csv
autodarts_nodejs_keycloak_client.py