*.txt
*.json
*-custom.sh
*-custom*.sh
*-custom.bat
*-custom*.bat
*raw*.csv
test.py
__pycache__

build
dist
*.spec
caller-downloads-temp
*.env*
.venv
*.php
.stats-page
.caller-preview-page
new_calls.csv
NODEJS_SERVER_EXAMPLE.md
assets/autodarts_login.py
MESSAGE_LOGGER_README.md
/logs/*