body{
    /* background-image: url("/static/images/background.png"); */
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.77), 
      rgba(0, 0, 0, 0.77)
    ),
    /* bottom, image */
    url("/static/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    text-align: center;
    background-color: black;
    color: white
}
input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 90%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 90%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: transparent;
    border-radius: 10px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: royalblue;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
}
input[type=range]::-moz-range-track {
    width: 90%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: royalblue;
    border-radius: 10px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: royalblue;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 90%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: royalblue;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: royalblue;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: transparent;
}
input[type=range]:focus::-ms-fill-upper {
    background: transparent;
}
button, select{
    width: 50%;
    opacity: 0.95;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    color: white;
    height: auto;
    background-color: royalblue;
    font-size: 30pt;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}


.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
    display: flex;
    font-size: 40pt;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-size: 24px;
}
.success{
    color: greenyellow;
}
.failure{
    color: red;
}
.mod-value{
    margin: 0 auto;
    width: 100%;
    font-size: 14pt;
    vertical-align: sub;
}
.ranger{
    margin: 0 auto;
    margin-bottom: 20px !important;
}
.reset{
    background: orangered;
    border: 0px;
    border-radius: 20px;
    width: auto;
    height: auto;
    color: white;
    font-size: 20pt;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    top: -5px;
    right: 105%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.area-mod{
    border-radius: 10px;
    background: #003399;
    margin: 35px auto;
    padding: 10px;
    width: 85%;
}


#loader{
    margin: 0 auto;
    width: 48px;
    height: 48px;
}
#app-info{
    cursor: pointer;
    color: darkgoldenrod;
    position: fixed;
    font-weight: bold;
    top: 20px;
    right: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 999;
}
#caller-name{
    margin-top: 40px;
}
#caller-call{
    margin-bottom: 40px;
}
#button-start{
    margin-top: 50px;
    width: 80%;  
    font-size: 33pt;
}
#button-say{
    width: 48px;
    height: 48px;
    margin-left: 10px;
    cursor: pointer;
}
#button-container-mod-toggle{
    margin: 20px auto;
    width: 48px;
    height: 48px;
    display: none;
    cursor: pointer;
}
#container-mod{
    opacity: 0.95;
    display: none;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    width: 85%;
    background-color: royalblue;;
}