button{
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    color: white;
    height: auto;
    background-color: royalblue;
    width: 65%;  
    font-size: 40pt;
    margin-bottom: 15px;
}
span{
    width:15%;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
    display: flex;
    font-size: 40pt;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-size: 24px;
}
.success{
    color: greenyellow;
}
.failure{
    color: red;
}
.ranger{
    padding: 10px;
    width: 65%;
}
.reset{
    background: transparent;
    border-radius: 20px;
    width: auto;
    height: auto;
    color: red;
    background: whitesmoke;
    font-size: 20pt;
}

#app-info{
    color: darkgoldenrod;
    position: fixed;
    font-weight: bold;
    top: 0px;
    right: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 999;
}
#caller-name{
    margin-top: 40px;
}
#caller-call{
    margin-bottom: 40px;
}
#button-start{
    margin-top: 50px;
    width: 80%;  
}
#button-clear{
    position: fixed;
    top: 15px;
    left: 15px;
    width: 60px; 
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 999;
}
#button-container-mod-toggle{
    display: none;
    background-color: gray;
    border-radius: 20px 20px 0 0;
    color: white;
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 0px;
}
#container-mod{
    display: none;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    width: 75%;
    background-color: gray;
    border: 2px solid darkgray;
}