body{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.77), 
      rgba(0, 0, 0, 0.77)
    ),
    url("/static/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
}
hr{
    margin: 25px;
    margin-top: 40px;
    clear: both;
    border: 1px solid dimgray;
}
input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 90%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 90%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: transparent;
    border-radius: 10px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: royalblue;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
}
input[type=range]::-moz-range-track {
    width: 90%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: royalblue;
    border-radius: 10px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: royalblue;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 90%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: royalblue;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: royalblue;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: transparent;
}
input[type=range]:focus::-ms-fill-upper {
    background: transparent;
}
button, select{
    width: auto;
    max-width: 90%;
    opacity: 0.95;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    color: white;
    height: auto;
    background-color: rgb(30, 75, 207);
    font-size: 26pt;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
option, option:hover {
    background-color: rgb(30, 75, 207);
}
button:hover, select:hover {
    background-color: rgb(35, 87, 245);
}
#button-calibrate-board, #button-reset-board{
    background-color: darkkhaki;
}
#button-calibrate-board:hover, #button-reset-board:hover{
    background-color: rgb(219, 212, 114);
}
#button-next{
    background-color: rgb(13, 136, 13);
}
#button-next:hover{
    background-color: rgb(19, 168, 19);
}
.success{
    color: greenyellow;
}
.failure{
    color: red;
}
.mod-value{
    margin: 0 auto;
    width: 100%;
    font-size: 14pt;
    vertical-align: sub;
}
.ranger{
    margin: 0 auto;
    margin-bottom: 20px !important;
}
.reset{
    background: orangered;
    border: 0px;
    border-radius: 20px;
    width: auto;
    height: auto;
    color: white;
    font-size: 20pt;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.area-mod{
    border-radius: 10px;
    background: #003399;
    margin: 35px auto;
    padding: 10px;
    width: 85%;
}
#loader{
    margin: 0 auto;
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
}
#app-info{
    cursor: pointer;
    color: darkgoldenrod;
    position: absolute;
    font-weight: bold;
    top: 20px;
    right: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 999;
}
#caller-name{
    margin: 0 auto;
    margin-top: 40px;
    max-width: 90%;
}
#caller-call{
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 90%;
}
#button-start{
    margin-top: 50px;
    width: 80%;  
    font-size: 33pt;
}
#button-say{
    margin-top: 15px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
#button-container-mod-toggle{
    width: 48px;
    height: 48px;
    display: none;
    cursor: pointer;
}
#container-mod{
    width: 85%;
    margin: 0 auto;
    opacity: 0.95;
    display: none;
    padding: 5px;
    border-radius: 20px;
    background-color: royalblue;;
}


/* WebRTC */
::placeholder {
    color: lightgrey;
}
.web-rtc-chat-message-avatar{
    width: 48px;
    height: 48px;
    max-width: 48px;
    max-height: 48px;
    margin-right: 10px;
    float: left;
    clear: both;
    text-align: right;
    user-select: none;
    border-radius: 5px;
}
.web-rtc-chat-message-time{
    margin-left: 10px;
    font-size: 8pt;
    color: #8F8F8F;
    width: auto;
    text-align: right;
    user-select: none;
    float: right;
    clear: both;
}
.web-rtc-chat-message-in, .web-rtc-chat-message-file-in{
    display: block;
    float: left;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    max-width: 96%;
}
.web-rtc-chat-message-file-in, .web-rtc-chat-message-file-out{
    height: 96%;
    width: auto;
}
.web-rtc-chat-message-file-in > img, .web-rtc-chat-message-file-out > img{
    width: auto;
    height: 96%;
}
.web-rtc-chat-message-out, .web-rtc-chat-message-file-out, .web-rtc-chat-instant{
    display: block;
    float: right;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #9AF489;
    color: black;
    padding: 10px;
    border-radius: 10px;
    max-width: 96%;
}
.web-rtc-chat-instant{
    clear: none;
    cursor: pointer;
    margin: 5px;
    font-size: 16pt;
}
.web-rtc-chat-message-status-good{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    background-color: whitesmoke;
    color: royalblue;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    font-size: 17pt;
}
.web-rtc-chat-message-status-bad{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    background-color: whitesmoke;
    color: red;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    font-size: 17pt;
}
#web-rtc-container{
    width: 95%;
    margin: 0 auto;
    height: auto;
    padding: 0 !important;
}
#web-rtc-chat-instants{
    width: 100%;
    margin: 0 auto;
}
#web-rtc-chat{
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 20pt;
    opacity: 90%;
    background-color: #EBDFCE;
    border: 3px solid black;
    height: 350px;
    max-height: 350px;
    overflow-y: auto;
    border-radius: 15px;
    word-wrap: break-word;
}
#web-rtc-chat-stream-display{
    width: auto;
    max-width: 90%;
    height: auto;
    max-height: 90%; 
    margin: 0 auto;
    margin-top: 20px;
    padding: 12px;
    font-size: 20pt;
    opacity: 100%;
    background-color: #EBDFCE;
    border: 3px solid black;
    overflow-y: auto;
    border-radius: 15px;
}
#web-rtc-chat-add-instant, #web-rtc-chat-clear-instants{
    position: relative;
    float: none;
    background-color: green;
    color: white;
    padding: 3px;
    font-size: 16pt;
    margin: 0 auto;
    margin-top: 10px;
}
#web-rtc-chat-file {
    display: none;
}
.custom-file-input {
    display: block; 
    background-image: url('/static/images/upload.png'); 
    background-size: cover;
    background-position: center;
    background-color: transparent;
    width: 48px;
    height: 48px;
    cursor: pointer;
    float: left;
}
#web-rtc-chat-settings-toggle{
    float: right;
    background-image: url('/static/images/mods.png'); 
    background-size: cover;
    background-position: center;
    background-color: transparent;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
#web-rtc-chat-stream{
    background-image: url('/static/images/stream.png'); 
    background-size: cover;
    background-position: center;
    background-color: transparent;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 10px;
}
#web-rtc-chat-send-message{
    width: 100%;
    font-size: 26pt;
    height: auto;
    margin-top: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.fix-bottom{
    position: fixed;
    bottom: 0;
    left: 2%; 
}
